<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>  
<body>
  <main class="d-flex align-items-center flex-column">
    <h1 class="my-3">CONTACT LIST</h1> 
    <%- include('partials/header-contact-list') %>
    <%- include('partials/contacts-all') %>
  </main>
  <%- include('partials/footer-contact-list') %>
</body>
</html>